<h1> Reset Password for <%= @user.email %></h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <form action="/reset_password" method="post">
      <br>
      <input type="hidden" name="user_id" value="<%= @user.id %>">
      <br>
      <label for="new password">New Password</label>
      <input type="password" id="password" name="user[password]">
      <br>

      <label for="password_confirmation">Confirm Password</label>
      <input type="password" id="password_confirmation" name="user[password_confirmation]">

      <br>

      <input type="submit" value="Update my account" class="btn btn-primary">
    </form>
  </div>
</div>
